.post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-meta {
    font-size: 14px;
    color: #828282;
  }
  
  .post-link {
    font-size: 20px;
  }
  
  .post-description {
    font-size: 16px;
    color: #555;
  }